@import url(https://fonts.googleapis.com/css?family=Montserrat|Mallanna);

body {
	font-family: Cambria, sans-serif;
	color: #000000;
	text-align: center;
	background-size: cover;
}
header {
	padding: 10px 15px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	width: 450px;
	margin-bottom: 2em;

}
#headerbox {
	width: 400px;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 2em;
	text-decoration: bold;
	font-family: 'Montserrat', sans-serif;
	float: left;
}
#headerbox h1 {
	font-size: 1.75em;


}
#headerbox h2 {
	font-size: 1em;
	margin-top: .5em;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	clear: right
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 810px;
}
.nav {
	display: inline-block;
	font-family: 'Montserrat', Arial;
	letter-spacing: .25em;
	padding: 2em;
	font-size: 15px;
}
.section {
	font-family: Cambria, Arial;
	vertical-align: middle;
	margin-bottom: 1em;
}
a:hover {
	color: blue;
}
p {
	text-align: center;
	font-size: 16px;
	line-height: 1.5em;
	margin: 1em;

}
.series {
	text-decoration: underline;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	text-height: 2%;
	width: 350px;
	margin: .5em .5em;
	font-family: 'Montserrat', Arial;
}
img {
	text-align: center;
	height: 340px;
	margin: .2em;

}
section {
	text-align: center;
	clear: both;
	margin-top: 2em;
}
footer {
	clear: both;
}
.footer {
	display: inline;
	float: right;
	padding: 2em 2em;
	font-family: Cambria, Arial;
}
.copyright {
	float: left;
	padding: 2em 2em;
	font-family: Cambria, Arial;
}

.clearfix:after {
	visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
